root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.{cppm,cpp,cu,cuh,h}]
indent_size = 2
max_line_length = 100

[{CMakeLists.txt,*.cmake}]
indent_size = 2
max_line_length = 80

[*.py]
indent_size = 4
max_line_length = 88

[*.{yaml,yml,json}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab
